.choose-taste {

}

.taste-menu {


}

.taste-button {
    background-color: var(--secondary-light-yellow);
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;

}

.taste-statusbar {

}