

.product-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-overview ul {

}
.product-overview ul li {
    background-color: #006280;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}