.contact-content {
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
    border-radius: var(--border-rad-s);
    width: 100%;
    height: 400px;
    background-color: #e74c3c;
}

.contact-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.contact-image-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contact-call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom-right-radius: var(--border-rad-s);
    border-top-right-radius: var(--border-rad-s);
    row-gap: 20px;
    width: 50%;
    padding: 20px;
    background-image: url("../../assets/images/The Beer Taste Club paper background.webp");
}

.contact-call-to-action h3 {
    font-size: var(--font-size-m);
}

.text-display-white {
    color: var(--text-display-white)
}

.text-display-pink {
    color: var(--text-display-pink);
    display: flex;
}

.text-display-black {
    color: var(--text-display-black);
}
