

.product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 30px;
    margin-top: 20px;
    padding: 50px 20px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-2);
}

.product-card h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.product-card-image {
    width: 150px;
    height: 450px;
}
.product-card-description {
    text-align: center;
}
