

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;


}

.product-card h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.product-card-image {
    display: flex;
    padding: 50px 50px;
    width: 200px;
    height: 600px;
    border: 1px solid var(--border-color-grey);
    background-color: var(--clr-grey-50)

}
.product-card-description {
    text-align: center;
}
