
.contact-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;

}
.contact-form label {
    display: block;
    margin: 30px auto;
}
.contact-form span {
    display: block;
    margin-bottom: 6px;

}
.contact-form input {
    padding: 8px 6px;
    width: 100%;
    font-size: 1em;
}
.contact-form textarea {
    font-size: inherit;
    box-sizing: border-box;
    resize: none;
    padding: 5px;

}