.article-winkelmandje {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    min-height: 450px;
}

.summary-order {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: var(--font-size-xs);
    border-top: 1px solid var(--border-color-grey);
    border-bottom: 1px solid var(--border-color-grey);

}

.payment-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-image {
    display: flex;
}

.payment-image img {
    width: 150px;
    height: 150px;
    padding: 10px
}