
.main-footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: var(--backgroudn-color-3);
    color: var(--clr-primary-white);
}
.main-footer-credits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: var(--clr-primary-black);
    font-size: 0.75rem;
    color: var(--clr-primary-white);
}

