.resultsBeerTest {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 15px;
}

.beerList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 0;
    border: 1px solid red;
}

.beerList li {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px 0;
    margin-bottom: 15px;

}


.beerImageBox {
    width: 100%;
    padding: 30px 40px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 25%);
    background-color: var(--clr-primary-white);
    border-radius: var(--border-rad-m);
}

.beerImage {
    height: 350px;

}

.beerList p {
    text-align: center;
    padding-bottom: 15px;
}
