@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Reset Global Styles
////////////////////////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/*////////////////////////
    Color Style
////////////////////////*/

:root {
  --primary-dark-green: #2B4836;
  --primary-light-green: #999E66;
  --primary-light-brown: #BE8E66;
  --primary-white: #FFFFFF;
  --primary-black: #000000;

  --secondary-light-yellow: #FFEFBC;
  --secondary-orange: #ED8F45;
  --secondary-pink: #E3A1AD;

  --accent-color-1: #f7ff00;
  --accent-color-2: #e74c3c;

  --background-color-1: #2B4836;
  --background-color-2: #ffffff;

  --text-color: #212121;
  --header-text-color: #2B4836;
  --menu-color:  #FFFFFF;

  --button-background-color: #f39c12;
  --border-color: #333333;
}

/*////////////////////////
    Typography
////////////////////////*/

@font-face {
  font-family: 'Noto Sans', sans-serif;;
  src: url("./assets/fonts/NotoSans_Condensed-Black.ttf") format('ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-ExtraBold.ttf") format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: 100;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: var(--header-text-color);
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
}
h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.375rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.125rem;
}

/*////////////////////////
    Global Styles
////////////////////////*/
/* Mobile */

body {
  /* Common */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  color: var(--text-color);

  /* Tablet */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
      background-color: var(--background-color-2);


  }

  /* Desktop  */
  @media only screen and (min-width: 901px) and (max-width: 1200px) {
      background-color: var(--background-color-2);

  }

  /* Wide screen */
  @media only screen and (min-width: 1201px) {
    background-color: var(--background-color-2);

  }

}

a {
  font-weight: 500;
  color: var(--accent-color-2);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-color-1);
}

button {
  border-radius: 8px;
  border: 1px solid #535bf2;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--button-background-color);
}
button:hover {
  border-color: #646cff;
  background-color: darkseagreen;
}
button:focus,
button:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}

img {
  width: 100%;
}