/*////////////////////////
    Reset Global Styles
////////////////////////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/*////////////////////////
    Color Style
////////////////////////*/

:root {
  --primary-color: #3498db;
  --primary-dark: #2368a0;
  --primary-light: #6ab9f3;
  --primary-white: #FFFFFF;
  --primary-black: #000000;
  --secondary-color: #2ecc71;
  --secondary-dark: #239a4c;
  --secondary-light: #6eeda8;
  --accent-color-1: #e74c3c;
  --accent-color-2: #f39c12;
  --background-color-1: #ecf0f1;
  --background-color-2: #91bed2;
  --text-color: #333;
  --header-text-color: #000000;
  --button-background-color: #f39c12;
}

/*////////////////////////
    Typography
////////////////////////*/

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("./assets/fonts/OpenSans-ExtraBold.ttf") format('ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("./assets/fonts/OpenSans-Bold.ttf") format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("./assets/fonts/OpenSans-Regular.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--header-text-color);
}
h2 {
  font-size: 3em;
  line-height: 1.1;
  color: var(--header-text-color);
}
h3 {
  font-size: 2.6em;
  line-height: 1.1;
  color: var(--header-text-color);
}
h4 {
  font-size: 2em;
  line-height: 1.1;
  color: var(--header-text-color);
}
h5 {
  font-size: 1.6em;
  line-height: 1.1;
  color: var(--header-text-color);
}
h6 {
  font-size: 1.2em;
  line-height: 1.1;
  color: var(--header-text-color);
}

/*////////////////////////
    Global Styles
////////////////////////*/

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
}


a {
  font-weight: 500;
  color: var(--accent-color-1);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-color-2);
}


button {
  border-radius: 8px;
  border: 1px solid #535bf2;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--button-background-color);
}
button:hover {
  border-color: #646cff;
  background-color: darkseagreen;
}
button:focus,
button:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}

img {
  width: 100%;
}

/*////////////////////////
    Responsiveness
////////////////////////*/

/* Mobile */
@media only screen and (max-width: 600px) {
  body {
    background-color: var(--background-color-1);


  }
  .main-inner-container {
  flex-basis: 200px;
  }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
    background-color: var(--background-color-1);
  }
  .main-inner-container {
    flex-basis: 700px;
  }

}

/* Desktop  */
@media only screen and (min-width: 901px) {
  body {
    background-color: var(--background-color-2);
  }
  .main-inner-container {
    flex-basis: 1200px;
  }
}










