@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Reset Global Styles
////////////////////////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/*////////////////////////
   Main Styles
////////////////////////*/

:root {

  /*////////////////////////
   Colors
  ////////////////////////*/

  /* Primary Colors */
  --clr-primary-dark-green: #2B4836;
  --clr-primary-green: #999E66;
  --clr-primary-licht-green: #E3E4D8;
  --clr-primary-light-brown: #BE8E66;

  /* Secondary Colors */
  --crl-secondary-light-yellow: #FFEFBC;
  --clr-secondary-orange: #ED8F45;
  --crl-secondary-pink: #E3A1AD;

  /* Grey Colors */
  --clr-primary-white: #FFFFFF;
  --clr-grey-50: #F2F2F2;
  --clr-grey-100: #D9D9D9;
  --clr-grey-300: #A6A6A6 ;
  --clr-grey-500: #737373;
  --clr-grey-800: #333333;
  --clr-grey-900: #212121;
  --clr-primary-black: #000000;

  /* Accent Colors */
  --accent-color-1: #8a3e01;
  --accent-color-2: var(--clr-secondary-orange);

  /* Background Colors */
  --background-color-1: var(--clr-primary-dark-green);
  --background-color-2: var(--clr-primary-licht-green);
  --backgroudn-color-3: var(--clr-primary-green);

  /* Text Colors */
  --text-main-color: var(--clr-grey-900);
  --text-header-color: var(--clr-primary-dark-green);
  --text-menu-color:  var(--crl-secondary-light-yellow);
  --text-menu-color-active: var(--crl-secondary-pink);
  --text-button-color: var(--clr-primary-dark-green);

  /* Text and Header display colors */
  --text-display-white: var(--clr-primary-white);
  --text-display-pink: var(--crl-secondary-pink);
  --text-display-green: var(--clr-primary-dark-green);
  --text-display-black:  var(--clr-primary-black);

  /* Button Colors */
  --button-background-color: var(--clr-secondary-orange);

  /* Border Colors */
  --border-color: var(--clr-grey-800);
  --border-color-green: var(--clr-primary-green);
  --border-color-grey: var(--clr-grey-100);


  /*////////////////////////
      Fonts
  ////////////////////////*/

  /* Primary Font */
  --font-family-primary: 'Noto Sans', sans-serif;

  /* Font Sizes */

  --font-size-text: 1rem;
  --font-size-menu: 1rem;
  --font-size-xxs: 1.25rem;
  --font-size-xs: 1.375rem;
  --font-size-s: 1.5rem;
  --font-size-m: 1.75rem;
  --font-size-l: 2rem;
  --font-size-xl: 2.25rem;
  --font-size-xxl: 2.75rem;


  /* Font Weight */
  --font-w-thin: 100;
  --font-w-extraLicht: 200;
  --font-weight-licht:300;
  --font-w-regular: 400;
  --font-w-medium: 500;
  --font-w-semiBold: 600;
  --font-w-bold: 700;
  --font-w-extraBoldt: 800;
  --font-w-black: 900;

  /* Border Radius */
  --border-rad-xs: 8px;
  --border-rad-s: 16px;
  --border-rad-m: 24px;
  --border-rad-l: 32px;
  --border-rad-xl: 48px;

  /* Border  */
  --border-primary-style: 1px solid var(--clr-grey-900);

  /* Box Shadow */
  --box-shadow-display: 0 0 16px rgba(0, 0, 0, 25%);


}

/* Links  */
a {
  font-weight: var(--font-w-regular);
  color: var(--accent-color-2);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-color-1);
}

/* Main button  */
/*button {*/
/*  border-radius: var(--border-rad-m);*/
/*  border: 1px solid transparent;*/
/*  font-size: var(--font-size-text);*/
/*  font-weight: var(--font-w-semiBold);*/
/*  color: var(--text-button-color);*/
/*  background-color: var(--button-background-color);*/
/*  padding: 10px 50px;*/
/*  margin: 10px 0;*/
/*  font-family: inherit;*/
/*  cursor: pointer;*/
/*  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);*/

/*}*/
.button-nav {
  border-radius: var(--border-rad-m);
  border: 1px solid transparent;
  font-size: var(--font-size-text);
  font-weight: var(--font-w-semiBold);
  color: var(--text-button-color);
  background-color: var(--button-background-color);
  padding: 10px 50px;
  margin: 10px 0;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

}

button:hover {
  background-color: darkseagreen;
  color: var(--clr-primary-white);
}
button:focus,
button:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}

/* Images  */
img {
  width: 100%;
}

/* Form fields */

label {
  display: block;
  margin: 15px auto;
}
 span {
  display: block;
  margin-bottom: 6px;

}
input {
  padding: 8px 6px;
  width: 100%;
  font-size: 1em;
}

.order-beer-box {
  display: flex;
}

/* Standard List Items */
.webshop-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 20px 30px;
  row-gap: 20px;

}

.webshop-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px ;
  width: 50px;


}

.webshop-image-box img {

  width: 100%;
  height: 100%;



}



/*////////////////////////
    Typography
////////////////////////*/

/* Font Faces */

@font-face {
  font-family: 'Noto Sans', sans-serif;;
  src: url("./assets/fonts/NotoSans_Condensed-Black.ttf") format('ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-ExtraBold.ttf") format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-SemiBold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url("./assets/fonts/NotoSans_Condensed-Bold.ttf") format('ttf');
  font-weight: 100;
  font-style: normal;
}

/* H1 t/m H6 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: var(--clr-primary-dark-green);
  font-family: var(--font-family-primary);
  font-weight: var(--font-w-bold);
  font-style: normal;
}
h1 {
  font-size: var(--font-size-xxl)
}

h2 {
  font-size: var(--font-size-xl)
}

h3 {
  font-size: var(--font-size-l)
}

h4 {
  font-size: var(--font-size-m)
}

h5 {
  font-size: var(--font-size-s)
}

h6 {
  font-size: var(--font-size-xxs)
}





/*////////////////////////
    Body
////////////////////////*/

body {
  /* Common */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-size-text);
  font-family: var(--font-family-primary);
  font-weight: var(--font-w-regular);
  color: var(--text-main-color);

}

/*////////////////////////
    Main Media Setting
////////////////////////*/


  /* Tablet */
  @media only screen and (min-width: 601px) and (max-width: 900px) {


  }

  /* Desktop  */
  @media only screen and (min-width: 901px) and (max-width: 1200px) {


  }

  /* Wide screen */
  @media only screen and (min-width: 1201px) {

  }
